# =========================
# NODE MODULES
# =========================
node_modules/
**/node_modules/

# =========================
# ENV FILES (VERY IMPORTANT)
# =========================
.env
.env.*
!.env.example

